# Cargo & Build outputs
/target/
/APP/
**/*.rs.bk
*.pdb
*.rlib
*.d
*.obj

# OS & Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.user
.env
.env.*

# Logs, Dumps & Databases
*.log
*.pcap
*.pcapng
*.sqlite
*.db
*.dump
